[Desktop Entry]
Type=Application
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-goals
Icon=xonq-yinyang
X-Asteroid-Center-Color=#4b45b9
X-Asteroid-Outer-Color=#161537
Name=Goals
Name[en_GB]=Goalss
